{% extends "learning_logs/base.html" %}

{% block page_header %}
    <h1>Topics</h1>
{% endblock page_header %}

{% block content %}

    {% for topic in topics %}
        <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
                </li>
            </ul>
        </div>
    {% empty %}
        <li><h4>No topics ¯\_(ツ)_/¯</h4></li>
    {% endfor %}

    <a class="btn btn-outline-info" href="{% url 'learning_logs:new_topic' %}"> Add new topic</a>
{% endblock content %}