{% extends "learning_logs/base.html" %}
{% block content %}
    <form method="post" action="{% url 'users:register' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit">register</button>
        <input type="hidden" name="next" value="{% url 'learning_logs:index' %}"/>
    </form>
{% endblock content %}
{% extends "learning_logs/base.html" %}
{% block content %}
    <style>
        .card-header-custom {
            background-color: #0d6efd;
            color: #fff;
        }
    </style>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header bg-primary text-white card-header-custom">
                        <h2 class="mb-0 text-center">Sign Up</h2>
                    </div>
                    <div class="card-body">
                        <form method="post" action="{% url 'users:register' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <input type="text" name="username" class="form-control" placeholder="Username" required>
                            </div>
                            <div class="mb-3">
                                <input type="password" name="password1" class="form-control" placeholder="Password" required>
                                <small class="form-text text-muted">
                                    Your password can’t be too similar to your other personal information.<br>
                                    Your password must contain at least 8 characters.<br>
                                    Your password can’t be a commonly used password.<br>
                                    Your password can’t be entirely numeric.
                                </small>
                            </div>
                            <div class="mb-3">
                                <input type="password" name="password2" class="form-control" placeholder="Password confirmation" required>
                            </div>
                            <div class="text-center">
                                <button name="submit" class="btn btn-primary">Sign Up</button>
                            </div>
                            <input type="hidden" name="next" value="{% url 'learning_logs:index' %}"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
